{#
/**
 * @file
 * Template for Junior Artists page.
 */
#}

<div class="young-writers-junior-artists-page">
  {# Banner Section #}
  <div class="young-writers-section-banner">
    <h1 class="section-title">Junior Artists</h1>
    <p class="section-subtitle">To all future illustrators, showcase your artwork inspired by your favourite books</p>
  </div>

  {# Share Your Work Button #}
  <div class="share-work-section">
    <a href="/user/login" class="share-work-btn">Share your work</a>
  </div>

  {# Coming Soon Message #}
  <div class="coming-soon">
    <div class="coming-soon-content">
      <h2>Coming Soon!</h2>
      <p>This section is currently being developed. Soon you'll be able to showcase your amazing artwork here!</p>
    </div>
  </div>
</div>
