<div class="manage-page">
  <h1 class="page-title">Update Announcement</h1>
  
  <div class="announcement-form">
    <form method="post" action="/admin/dashboard/update-announcement">
      <div class="form-group">
        <label for="announcement">Announcement Message</label>
        <textarea name="announcement" id="announcement" rows="5" class="form-textarea"></textarea>
      </div>

      <button type="submit" class="btn btn-primary">Update Announcement</button>
    </form>
  </div>
</div>
